.footer{
    width: 100%;
    max-width: 1024px;
    font-weight: 12px;
}

.flists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.flist {
    list-style: none;
    padding: 10px;
}
.ftext{
    margin-bottom: 50px;
}

.flistitem{
    margin-bottom: 15px;
    color: rgb(133, 0, 222);
    cursor: pointer;
}